main{
    min-height: 80vh;
}
h2{
    font-size: 1.8rem;
    padding:1rem 0;
}
h3{
    padding:1rem 0 ;
}
h4{
    font-size: 1.4rem;
    padding:0.5rem 0;
}
.rating span{
    margin:0.1rem;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
    background-color: #78C2AD;
    border-color: rgb(120 194 173)
}
.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after {
    background-color: #78C2AD;
}
.ant-steps .ant-steps-item-finish .ant-steps-item-icon >.ant-steps-icon {
    color:  #78C2AD;
}
.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #f0fff8;
    border-color: #f0fff8;
}
.ant-btn-primary {
    background-color: #78C2AD;
}
.ant-btn:hover{
    background-color: #a1cfc0 !important;
    color: #a1cfc0;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    background-color: #78C2AD;
    border-color: #78C2AD;
}
.editor-content-view {
    border: 3px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 20px;
    overflow-x: auto;
  }

  .editor-content-view p,
  .editor-content-view li {
    white-space: pre-wrap;
    /* 保留空格 */
  }

  .editor-content-view blockquote {
    border-left: 8px solid #d0e5f2;
    padding: 10px 10px;
    margin: 10px 0;
    background-color: #f1f1f1;
  }

  .editor-content-view code {
    font-family: monospace;
    background-color: #eee;
    padding: 3px;
    border-radius: 3px;
  }

  .editor-content-view pre>code {
    display: block;
    padding: 10px;
  }

  .editor-content-view table {
    border-collapse: collapse;
  }

  .editor-content-view td,
  .editor-content-view th {
    border: 1px solid #ccc;
    min-width: 50px;
    height: 20px;
  }

  .editor-content-view th {
    background-color: #f1f1f1;
  }

  .editor-content-view ul,
  .editor-content-view ol {
    padding-left: 20px;
  }

  .editor-content-view input[type="checkbox"] {
    margin-right: 5px;
  }
